# NAO faca commit deste arquivo com valores reais preenchidos.
# Pegue a License Key em: New Relic > (perfil) > API keys > Ingest - License
apiVersion: v1
kind: Secret
metadata:
  name: otel-collector-secrets
  namespace: monitoring
type: Opaque
stringData:
  NEW_RELIC_LICENSE_KEY: "<preencher>"